.Form-add{
    font-weight: bold;
    padding-left:37%;
}

.heading{
    font-weight: 1000;
    padding-left: 38%;
}


.btn1{
margin-left: 18%;
}

.Divv{
    background-color: #d1d1d1;
    height: 680px;
}

.search-area{
    margin-right: 7%;
}

.message3{
    
    text-align: center;
}

.message4{
    text-align: center;
}

/* body{
    text-align: center;
} */